.study-chart-container {
  padding: 1rem;
  border-radius: 16px;
  width: 100%;
  width: 408px;
}

.study-chart-title {
  margin-bottom: 1rem;
  color: #111827;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}
